<!doctype html>
<html>
<head>
	<title>340 Project</title>
	<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>

	{{#each jsscripts}}
    <script src="/static/{{this}}"></script>
  {{/each}}
</head>
<body>
	<div>
		<a href="/">Home</a>
		<a href="/characters">Characters</a>
		<a href="/schools">Schools</a>
		<a href="/houses">Houses</a>
		<a href="/spells">Spells</a>
	</div>

	{{{body}}}
</body>
</html>