<!doctype html>
<html>
<head>
	<title>340 Project</title>
	
</head>
<body>
	<div>
		<a href="/">Home</a>
		<a href="/schools">Schools</a>
		<a href="/spells">Spells</a>
	</div>

	{{{body}}}
</body>
</html>