<h2>Welcome to the Harry Potter Database</h2>

<h2>Select a Category to get Started</h2>

<h3><a href="/characters">Characters</a></h3>

<h3><a href="/schools">Schools</a></h3>

<h3><a href="/spells">Spells</a></h3>

