<h2>Houses</h2>

  <table id="table" border="1">
     <thead>
       <th>Name</th>
       <th>School</th>
     </thead>
     <tbody>
        {{#each houses}}
          <tr>
            <td>{{houseName}}</td>
            <td>{{schoolName}}</td>
          </tr>
        {{/each}}
     </tbody>
  </table>

<h2>Add House</h2>
<div>
<form id="addhouse" action="/houses" method="post">
   <label for="name">Name</label>
   <input type="text" id="name" name="name" placeholder="Slytherin">

   <label for="school">School</label>
   <select name="schoolId">
      {{#each schools}}
        <option value="{{schoolId}}">{{schoolName}}</option>
      {{/each}}
  </select>
  <input type="submit" value="Submit">  
</form>
</div>